body{
    background-image: url(../images/Ocean.jpg);
    
}
.title{
    padding: 10px;
}
.jumbotron-fluid{
    background-image: url(../images/Ocean.jpg);

}
#instructions{
    color: black;
    width: 400px;
    height: 50px;
    margin-bottom: 50px;
    padding: 5px;
}
.crystals{
    margin-top: 200px;
    margin-right: 400px;
}
img{
    width: 100px;
}
